{% extends "base.html" %}
{% load bootstrap_tags %}

{% block page_title %}Portfolio TriFlake Studios{% endblock %}
{% block title %}Portfolio{% endblock %}

{% block content %}

<!-- Portfolio Grid -->

<section class="page-section" id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="homeHeader display-4 text-uppercase">Portfolio</h2>
				<h3 class="section-subheading text-muted portfolioSubHeading">a selection of our projects</h3>
			</div>
		</div>
        <!-- Portfolio cards -->
		<div class="row bg-light">
			<div class="col-md-4 col-sm-6 portfolio-item">
				<img class="img-fluid" src="/media/ecommerce.jpg" alt="image of graphic from ecommerce summit">
				<div class="portfolio-caption">
					<br>
					<h4>eCommerce Summit</h4>
					<br>
					<p class="text-muted">range of graphics for eCommerce Summit incl banners, brochures and digital
						media</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item">
				<img class="img-fluid" src="/media/grow-remote.jpg" alt="hand drawn illustration of a mind map from the Grow Remote conference">
				<div class="portfolio-caption">
					<br><br>
					<h4>Grow Remote</h4>
					<br>
					<p class="text-muted">Visual facilitation and graphic design of the Grow Remote Conference</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item">
				<img class="img-fluid" src="/media/wild-design.jpg" alt="photo of products surrounding a metal tin with Wild Design logo">
				<div class="portfolio-caption">
					<h4>Wild Design</h4>
					<br>
					<p class="text-muted">Website, digital and print media review and redesign</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item">
				<img class="img-fluid" src="/media/culturenight.jpg" alt="graphic of poster design for screening of Bernadette documentary with image of bernadette devlin and logo cor culture night.">
				<div class="portfolio-caption">
					<br>
					<h4>Culture Night</h4>
					<br>
					<p class="text-muted">Poster design & media campaign for Culture Night event</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item">
				<img class="img-fluid" src="/media/corkvoices.jpg" alt="fun bright graphic with image of an otter, logo for cork voices and text">
				<div class="portfolio-caption">
					<h4>Cork Voices</h4>
					<br>
					<p class="text-muted">Graphics & media Campaign for Ireland's first participitory budgeting campaign
					</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 portfolio-item">
				<img class="img-fluid" src="/media/hyperbolic-sketch.jpg" alt="hand drawn sketch of a mathematical model">
				<div class="portfolio-caption">
					<br>
					<h4>Irish Hyperbolic Crocheted Coral Reef</h4>
					<br>
					<p class="text-muted">Illustration and poster design for touring exhibition</p>
				</div>
			</div>
		</div>


		<!-- clients -->
		<br>
		<hr>
		<br>
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="homeHeader display-4 text-uppercase">Our Clients</h2>
				<h3 class="section-subheading text-muted portfolioSubHeading">We are delighted to have partnered with a
					variety of SMEs, events and organisations</h3>
			</div>
			<div>
				<p class="textcenter clientList">Kerry ETB &nbsp; &nbsp;eCommerce Summit &nbsp; &nbsp;Grow Remote &nbsp;
					&nbsp; Dingle Peninsula
					Tourism Alliance&nbsp; &nbsp;
					&nbsp; &nbsp; National University of Galway&nbsp; &nbsp;Kerry County Library&nbsp; &nbsp;Clean
					Coasts&nbsp; &nbsp; Greencrafts&nbsp; &nbsp; Hidden Ireland&nbsp; &nbsp; Marie Brett&nbsp;
					&nbsp;Cork Textile Network&nbsp; &nbsp; ReNua Health Clinic&nbsp; &nbsp;
					Feile na Bealtaine&nbsp; &nbsp; Wild Design&nbsp; &nbsp; West Kerry Care of the Aged&nbsp; &nbsp;
					Electric Picnic Festival&nbsp; &nbsp; Body and Soul Festival&nbsp; &nbsp; Kerry Bicycle
					Festival&nbsp; &nbsp;
					The Science Gallery&nbsp; &nbsp; Irish College of Humanities
				</p>
			</div>
		</div>
		<br>
		<hr>
		<br>
		<div class="text-center portfolioContactUs">
			<img src="/media/logo.jpg" class="img-fluid img-thumbnail text-center" alt="TriFlake Studio logo of 3 different coloured triangles in a large triangle">
			<p class="portfolioContact text-center">Interested in working with us?
			</p>
			<a href="/home/#contactUsSection" class="btn btn-default">contact us</a>

		</div>
	</div>
</section>

<!-- Footer-->
<footer class="footer text-center">
	<div class="container footerText">
		<div class="row">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h5 class="text-uppercase mb-4">Meet Us <i class="far fa-comment-dots" aria-hidden="true"></i></h5>
				<p class="mb-0">We are based in Kerry, but we love <i class="fas fa-heart" aria-hidden="true"></i> remote! We can
					accomodate your timeline</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h5 class="text-uppercase mb-4">connect <i class="fas fa-share-alt" aria-hidden="true"></i></h5>
				<a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/TriflakeStudios/?ref=py_c" target="_blank"><i class="fab fa-facebook-f" aria-label="Got to Facebook"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/triflakestudios" target="_blank" aria-label="Got to Twitter"><i class="fab fa-fw fa-twitter" ></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/orla-breslin/" target="_blank" aria-label="Got to LinkedIn"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/triflakestudio/" target="_blank" aria-label="Got to Instagram"><i class="fab fa-fw fa-github"></i></a>
			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h5 class="text-uppercase mb-4">Want goodies? <i class="fas fa-gift" aria-hidden="true"></i></h5>
				<p class="mb-0">Create a user account for exclusive access to resources, tutorials and more <a
						href="{% url 'registration' %}" title="Go to Sign up page">Sign Up</a></p>
				<br>
			</div>
			</div>
		</div>
</footer>

<!-- Copyright Section-->

<section class="copyright py-4 text-center text-warning">
	<div class="container"><small>Copyright © TriFlake Studio 2020</small></div>
</section>

{% endblock %}