{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

<!--Password reset message-->
<div class="container passwordReset">
    <div class="row">
        <br>
        <h4 class="contactUsHeading display-5">CHECK YOUR EMAIL! <i class="far fa-envelope" aria-hidden="true"></i></h4>
    </div>
    <div class="row">
        <br>
        <p>We've emailed you instructions for re-setting your password to your email address</p>
        <br>
        <p>You should be receiving it shortly.</p>
    </div>
</div>

{% endblock %}