{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

<!--Password reset message-->
<div class="container">
    <div class="row">
        <h2 class="contactUsHeading display-5">CHECK YOUR EMAIL! <i class="far fa-envelope" aria-hidden="true"></i></h2>
        <br>
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <br>
        <p>You should be receiving it shortly.</p>
    </div>
</div>

{% endblock %}