{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="container passwordResetPage">
    <div class="row">
        <br>
        <h4 class="contactUsHeading display-5">PASSWORD RESET! &nbsp; <i class="far fa-envelope" aria-hidden="true"></i></h4>
        <br>
    </div>
    <div class="row">
        <p>Your password has been set. You may go ahead and log in now.</p>
        <br>
        <p><a href="{{ login_url }}">Log in</a></p>
    </div>
</div>
{% endblock %}