{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Reset Password{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}

<!-- password-reset-->
    <div class="container passwordResetPage">
        <div class="row">
            <form method="post" class="accountform">
                <h2 class="passwordReset">Forgot your password?</h2>
                <br>
                <p>No probs, just enter your email address and we will send you a link.</p>
                <br>
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                    {{ form.email.errors }}
                    <p>
                        <label for="id_email" class="control-label required-field">Email address:</label>
                        {{ form.email }}
                        <br>
                        <input class="btn btn-default reset-btn" type="submit" value="Reset password" />
                    </p>
            </form>
        </div>
    </div>

{% endblock %}