body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 50px;
    background-color: red;
}

.navbar {
    background-color:#f8f8f8;
}

.navbar-brand a {
    color: #f0b927;

}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

form {
    width: 50%;
}