body {
    font-family: 'Noto Sans', sans-serif;
}

/***Navbar**/

.navbar {
    background-color:#f8f8f8;
}

.navbar a {
    color: #f0b927;
}

.navbar-brand {
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Abhaya Libre', serif;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f0b927;
}

a.nav-link {
    color: #874979;
}
.navbar-toggler {
  border-color: #f0b927;
  background-color: whitesmoke
} 

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240,185,40)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

/**shopping-cart**/

.nav-cart  {
    font-size: 25px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/**search bar**/

.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

/**cart.html**/

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}

/***footer**/
footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

form {
    color: rgb(104, 102, 102);
    padding-top: 20px;
}

.btn-default {
    background-color: #2b9dc4;
    color: white;
}
/***Registration Page**/

.registerPage h2 {
    color: #f0b927;
    font-family: 'Abhaya Libre', serif;
    font-weight: 900;
    margin: 0 auto;
    padding: 20px;
    font-size: 40px;
}

.registerText {
    color: #161618;
    text-align: center;
    font-size: 18px;
}


/***User Login Page**/

.userLoginPage h2 {
    color: #f0b927;
    font-family: 'Abhaya Libre', serif;
    font-weight: 900;
    margin: 0 auto;
    padding: 20px;
    font-size: 40px;
}

.signUpText {
    color:#A9A9A9;
    text-align: center;
}

.forgotPassword {
    color: rgb(104, 102, 102);
    padding-top: 20px;
}
