{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block page_title %}{{ user }}'s Page{% endblock %}


{% block content %}

<!-- profile page -->
        <div class="container" id="profilePage">

            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h2 class="display-3 userHeading"> Welcome {{ profile }}!</h2>
                <p class="lead">Welcome to our Members page. As a valuable signed up member of the TriFlake Studio Family, you
                    will get access to all our resources, freebies, tutorials, discounts and more. We will also give you
                    exclusive previews to our latest services
                    and products.</p>
                <br>
                <p><i class="fas fa-heart" aria-hidden="true"></i> &nbsp; We will also give you your first 1/2 hour consultation FREE! So if you
                    have an idea for a project, drop us a message, & we'll get back to you <i class="fas fa-heart" aria-hidden="true"></i>
                </p>
                <a href="/home/#contactUsSection" class="btn btn-default" title="Go to send a message section on home page">send us a message</a>
            </header>

            <!---Freebies-->
            <br>
            <hr>
            <br>
            <section>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="contactUsHeading display-5">Freebies!!</h2>
                        <br>
                        <h5 class="section-subheading text-muted userSubheading">Downloadable freebies just for you!</h5>
                    </div>
                </div>
                <br>
                <br>
                <!----Download cards-->
                <div class="row bg-light">
                    <div class="col-md-4 col-sm-6 portfolio-item profileItem">
                        <img class="img-fluid profileDownload" src="/media/insta-thumbnail.jpg" alt="thumbnail of Instagram Infograph">
                        <div class="portfolio-caption">
                            <br>
                            <h4>Instagram Infograph</h4>
                            <br>
                            <p class="text-muted">5 ways to maximise your Instagram account</p>
                            <a href="/media/insta-graph.jpg" download="Instagram Infograph" alt="thumbnail of Instagram Infograph"
                                class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;download infograph </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item profileItem">
                        <img class="img-fluid" src="/media/maybankhol.png" alt="graphic with text and image of field in background">
                        <div class="portfolio-caption">
                            <br>
                            <h4>May Bank Holiday</h4>
                            <br>
                            <p class="text-muted">Free Facebook graphic for the May Bank Holiday</p>
                            <a href="/media/maybankholiday.png" download="MayOpening Hours" alt="graphic with text and image of field in background"
                                class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;download graphic</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 portfolio-item profileItem">
                        <img class="img-fluid" src="/media/2020-pantone-sm.jpg" alt="graphic with 16 different coloured squares and text">
                        <div class="portfolio-caption">
                            <br>
                            <h4>2020 Pantone Colour Guide</h4>
                            <br>
                            <p class="text-muted">2020 Pantone summer colours guide</p>
                            <a href="/media/2020-pantone.jpg" download="2020 Pantone Summer Colour Guide" alt="graphic with 16 different coloured squares and text"
                                class="btn btn-default"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;&nbsp;download image </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact us section -->
            <section class="contactUs" id="contactUsSection">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-4 col-xs-2 order-lg-2">
                            <div class="text-center">
                                <img class="img-fluid" src="/media/triflake-studio.jpg" alt="Triflake Studio logo text on a pink triangle">
                            </div>
                        </div>
                            <!-- form heading -->
                            <div class="col-lg-8 col-md-8 col-xs-10">
                                <div class="p-5">
                                    <h2 class="contactUsHeading display-5">SPECIAL SERVICE</h2>
                                    <br>
                                    <p class="contactUsText"> As a valued customer with TriFlake Studio, we will prioritize your
                                        needs. Have someting urgent you need? Fill out this form and skip the queue
                                    </p>
                                    <br>
                                    <!-- form -->
                                    <form class="contract-form form-content">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" placeholder="name" required>
                                        </div>
                                        <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="email address" required>
                                        </div>
                                        <div class="userEmail">
                                            <h5>Subject</h5>
                                        </div>
                                         <select class="browser-default custom-select mb-4">
                                            <option value="1" disabled selected>choose option</option>
                                            <option value="2">Urgent! Graphics needed asap</option>
                                            <option value="3">Marketing request</option>
                                            <option value="4">UX/Design request</option>
                                            <option value="5">Request a callback</option>
                                            <option value="6">Need help with something </option>
                                         </select>

                                        <div class="form-group">
                                             <textarea rows="1" name="requirements" id="requirments" class="form-control" placeholder="project requirements" required></textarea>
                                        </div>
                                        <div class="form-group">
                                             <textarea rows="5" name="message" id="message" class="form-control" placeholder="write your message here" required></textarea>
                                         </div>
                                            <!----date picker-->

                                            <div class="md-form">
                                                <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
                                            </div>

                                            <!---- end date picker-->
                                        <br>
                                        <button type="submit" class="btn btn-default userBtn" id="contact-button">Send Message</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        </div>
    <!----product form-->

    <!----footer-->
    <footer class="footer text-center">
        <div class="container footerText">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h5 class="text-uppercase mb-4">Meet Us <i class="far fa-comment-dots"></i></h5>
                    <p class="mb-0">We are based in Kerry, but we love <i class="fas fa-heart"></i> remote! We can accomodate your timeline</p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h5 class="text-uppercase mb-4">connect  <i class="fas fa-share-alt"></i></h5>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/TriflakeStudios/?ref=py_c" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/triflakestudios" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/orla-breslin/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/triflakestudio/" target="_blank"><i class="fab fa-fw fa-github"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h5 class="text-uppercase mb-4">Want goodies?  <i class="fas fa-gift"></i></h5>
                    <p class="mb-0">Create a user account for exclusive access to resources, tutorials and more <a
                            href="{% url 'registration' %}">Sign Up</a>
                    </p>
                     <br>
                </div>
            </div>
        </div>
    </footer>
<!-- Copyright Section-->
    <section class="copyright py-4 text-center text-warning">
        <div class="container"><small>Copyright © TriFlake Studio 2020</small></div>
    </section>

<!-- end profile page -->


{% endblock %}
<script type="text/javascript">
	$('.datepicker').pickadate({
        weekdaysShort: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        showMonthsShort: true
        })
</script>