{% extends "base.html" %}
{% load bootstrap_tags %}

{% block page_title %}TriFlake Studio{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Header -->
<header class="masthead d-flex clearfix">
	<div class="header">
		<div class="text-right">
			<h2 class="homeHeader display-3">TRIFLAKE</h2>
			<h2 class="homeHeader display-3">STUDIO</h2>
			<p class="lead">creative design studio</p>
			<hr class="my-4">
            <br>
			<p>Want exclusive access to resources, tutorials and more?</p>
			<a class="btn btn-default" href="#" role="button">sign up</a>
		</div>
	</div>
</header>
<!-- Services -->
<section class="page-section" id="services">
	<div class="container">
		<!-- Services Heading -->
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="servicesHeader display-4">SERVICES</h2>
				<h3 class="section-subheading text-muted">all your design and graphic needs</h3>
			</div>
		</div>
		<!-- row with images -->
		<div class="row text-center">
			<div class="col-md-4">
				<div class="circle-container">
					<div class="circle-cover-bg" title=""></div>
				</div>
				<h4 class="service-heading">UX & Design</h4>
				<p class="service-text">UX research, Design Thinking, Sprint! We can help you research and understand
					your
					customers, products and market better.</p>
			</div>
			<div class="col-md-4">
				<div class="circle-container">
					<div class="circle-cover-bg2" title=""></div>
				</div>
				<h4 class="service-heading">Graphic Design</h4>
				<p class="service-text">We can create customized graphics, for all your print and digital media needs.
					Graphics for advertising, packaging, signage, installations, menus, literature, stationery,
					infographics and more. </p>
			</div>
			<div class="col-md-4">
				<div class="circle-container">
					<div class="circle-cover-bg3" title=""></div>
				</div>
				<h4 class="service-heading">Collaborate</h4>
				<p class="service-text">We specialize in visual facilitation, using creative workshops to help develop
					business and localized needs. From corporate identity to community projects, we'd love to talk to
					you about
					your needs.</p>
			</div>
		</div>
	</div>
</section>

<!-- signup section -->
<section class="d-flex clearfix signup-section" id="signupCall">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="servicesHeader display-4 signupHome">SIGN UP</h2>
			</div>
		</div>
		<div class="signupTextHome">
			<h5>Want access to off-the-shelf graphics, resources, tutorials and more?</h5>
			<br>
			<p>Create a free account to get access to the best of TriFlake Studio. </p>
		</div>
		<button type="submit" class="btn btn-default">sign up now</button>
		<div class="signupLogin">
			<p><i class="fas fa-heart"></i> already registered?
				<button type="submit" class="btn btn-default loginHome">log in</button>
			</p>
		</div>
	</div>
</section>

<!-- about us section -->
<section class="d-flex clearfix" id="aboutUs">
	<div class="container text-center">
		<div class="row aboutusLogo">
			<img src="/media/logo.jpg" class="img-fluid img-thumbnail text-center" alt="Responsive image">
        </div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="servicesHeader display-4">ABOUT US</h2>
				</div>
			</div>
			<div class="aboutus">
				<br>
				<h5 class="aboutus-subheading text-muted">We are a creative design studio, based in Co. Kerry, Ireland.
				</h5>
				<p>We provide a diverse mix of
					web and print media for SME's, businesses, and organisations. We use a range of digital and
					analogue tools and techniques, to bring you a all one-stop-shop service, from branding, visual
					identity, to published media.
				</p>
				<br>
				<p>We are based in Ireland, but we <i class="fas fa-heart"></i> remote! </p> You can get
				<hr>
				<p>
					If you have an idea for a project, simply fill in our contact form below and send us a message. For
					exclusive access to products, resources, and tutorials, create your own user account.
					<br>
					<br>
					<button type="submit" class="btn btn-default">sign up now</button>

				</p>
			</div>
		</div>
</section>
<!-- contact us section -->
<section class="contactUs" id="contactUs">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4 col-md-4 col-xs-2 order-lg-2">
				<div class="text-center">
					<img class="img-fluid" src="/media/triflake-studio.jpg" alt="">
          </div>
				</div>
				<div class="col-lg-8 col-md-8 col-xs-10">
					<div class="p-5">
						<h2 class="contactUsHeading display-5">CONTACT US</h2>
						<p class="contactUsText"> We’d love to hear from you. Whether you have a question about
							services, design, pricing, or
							anything else, our team is ready to answer all your questions
						</p>
						<form class="contract-form form-content">
							<div class="form-group">
								<input type="text" name="firstname" id="firstname" class="form-control" placeholder="first name" required>
                            </div>
								<div class="form-group">
									<input type="text" name="lastname" id="lastname" class="form-control" placeholder="last mame" required>
                            </div>
									<div class="form-group">
										<input type="email" name="email" id="email" class="form-control" placeholder="email address" required>
									</div>
										<div class="form-group">
											<textarea rows="5" name="message" id="message" class="form-control" placeholder="write your message here..." required></textarea>
										</div>
										<br>
										<br>
										<button type="submit" class="btn btn-default" id="contact-button">Send Message</button>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>

<!-- Footer-->
<footer class="footer text-center">
	<div class="container">
		<div class="row">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h5 class="text-uppercase mb-4">Meet Us <i class="far fa-comment-dots"></i></h5>
				<p class="mb-0">We are based in Kerry, but we love remote! We can accomodate your timeline</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h5 class="text-uppercase mb-4">connect  <i class="fas fa-share-alt"></i></h5>
				<a class="btn btn-outline-warning btn-social mx-1" href="#"><i class="fab fa-facebook-f"></i></a><a
					class="btn btn-outline-warning btn-social mx-1" href="#"><i class="fab fa-fw fa-twitter"></i></a><a
					class="btn btn-outline-warning btn-social mx-1"
					href="#"><i class="fab fa-fw fa-linkedin-in"></i></a><a
					class="btn btn-outline-warning btn-social mx-1" href="#"><i class="fab fa-fw fa-github"></i></a>
			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h5 class="text-uppercase mb-4">Want goodies?  <i class="fas fa-gift"></i></h5>
				<p class="mb-0">Create a user account for exclusive access to resources, tutorials and more <a
						href="#sign-up">Sign Up</a>.</p>
			</div>
            <hr>
		</div>
	</div>
</footer>
<!-- Copyright Section-->
<section class="copyright py-4 text-center text-warning">
	<div class="container"><small>Copyright © TriFlake Studio 2020</small></div>
</section>




{% endblock %}