{% extends "base.html" %}
{% load bootstrap_tags %}

{% block page_title %}TriFlake Studio{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Header -->
<header class="masthead d-flex clearfix">
	<div class="header">
		<div class="text-right">
			<h2 class="homeHeader display-4">TRIFLAKE</h2>
			<h2 class="homeHeader display-4">STUDIO</h2>
			<p class="lead">creative design studio</p>
			<hr class="my-4">
			<p>Want exclusive access to freebies, tutorials and off the shelf products?</p>
			<a class="btn btn-default" href="#" role="button">sign up</a>
		</div>
	</div>
</header>
<!-- Services -->
<section class="page-section" id="services">
	<div class="container">
        <!-- Services Heading -->
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="homeHeader display-4">SERVICES</h2>
				<h3 class="section-subheading text-muted">all your design and graphic needs</h3>
			</div>
		</div>
        <!-- row with images -->
		<div class="row text-center">
			<div class="col-md-4">
				<div class="circle-container">
					<div class="circle-cover-bg" title=""></div>
				</div>
				<h4 class="service-heading">UX & Design</h4>
				<p class="service-text">UX research, Design Thinking, Sprint! We can help you research and understand your
					customers, products and market better.</p>
			</div>
			<div class="col-md-4">
				<div class="circle-container">
					<div class="circle-cover-bg2" title=""></div>
				</div>
				<h4 class="service-heading">Graphic Design</h4>
				<p class="service-text">We can create customized graphics, for all your print and digital media needs.
					Graphics for advertising, packaging, signage, installations, menus, literature, stationery,
					infographics and more. </p>
			</div>
			<div class="col-md-4">
				<div class="circle-container">
					<div class="circle-cover-bg3" title=""></div>
				</div>
				<h4 class="service-heading">Collaborate</h4>
				<p class="service-text">We specialize in visual facilitation, using creative workshops to help develop
					business and localized needs. From corporate identity to community projects, we'd love to talk about
					your needs</p>
			</div>
		</div>





	</div>
</section>


{% endblock %}